<!-- Main container -->
<div class="bg-orange-100 grid grid-cols-custom grid-rows-custom">
  
  <!-- Hero Section -->
  <div class="col-start-2 col-end-3 row-start-1 row-end-2 flex-1 max-w-[80vw] max-h-[80vh] justify-center max-md:max-w-full max-md:py-10">
    <div class="flex flex-col items-center">
      <div class="flex w-[1291px] max-w-full flex-col items-stretch mt-62 mb-30 max-md:my-10">
        <div class="flex text-orange-500 text-[14rem] font-bold leading-[26rem] justify-self-center items-center max-md:max-w-full max-md:text-4xl max-md:leading-[14rem]">
          <h1>Warning!</h1>
        </div>
        <div class="mt-4 pr-0 max-md:max-w-full">
          <div class="gap-2 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
            <div class="flex flex-col items-stretch w-[33%] border-[2px] border-solid border-black max-md:w-full max-md:ml-0">
              <img
                loading="lazy"
                src="src/assets/images/graphic__proofImg_3x.png"
                srcset=""
                class="aspect-[2] object-contain object-center w-full overflow-hidden grow max-md:mt-3"/>
            </div>
            <div class="flex flex-col items-stretch w-[67%] ml-5 max-md:w-full max-md:ml-0">
              <div class="bg-zinc-300 flex grow flex-col items-stretch w-full mx-auto px-2.5 py-12 border-[2px] border-solid border-black max-md:max-w-full max-md:mt-3" >
                <img
                  loading="lazy"
                  src="src/assets/Images/graphic__defragBar_3x.webp"
                  srcset=""
                  class="aspect-[7.85] object-contain object-center w-full overflow-hidden mt-16 mb-11 max-md:max-w-full max-md:my-10"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav -->
  <div class="col-start-2 col-end-3 row-start-2 row-end-3 flex-1 max-w-[80vw] max-h-[5vh] justify-self-center w-full items-center max-md:max-w-full max-md:py-10">
    <nav>
      <div class="col-start-1 col-end-2 row-start-2 row-end-3 flex flex-col items-center">
        <div class="flex w-full max-w-[1424px] items-stretch justify-between gap-0 mt-[0px] mb-14 max-md:max-w-full max-md:flex-wrap max-md:my-10">
          <div class="flex items-stretch justify-between gap-0 max-md:max-w-full max-md:flex-wrap max-md:justify-center">
            <div class="flex grow basis-[0%] flex-col items-stretch">
              <button type="button" class="border-2 border-black border-r-0 px-4 py-2 bg-white hover:bg-gray-200">
                Home
              </button>
            </div>
            <div class="flex grow basis-[0%] flex-col items-stretch bg-white">
              <button type="button" class="border-2 border-black border-r-0 px-4 py-2 hover:bg-gray-200">
                Blog
              </button>
            </div>
            <div class="flex grow basis-[0%] flex-col items-stretch bg-white">
              <button
                type="button"
                class="border-2 border-black px-4 py-2 hover:bg-gray-200"
              >
                About
              </button>
            </div>
  
            <form>
              <div class="flex">
                <!-- Search by categories -->
                <button
                  id="dropdown-button"
                  data-dropdown-toggle="dropdown"
                  class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-white border-2 border-black border-r-0 border-l-0 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                  type="button"
                >
                  Categories
  
                  <svg
                    class="w-2.5 h-2.5 ms-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"
                    />
                  </svg>
                </button>
                <div
                  id="dropdown"
                  class="z-10 hidden bg-white divide-y divide-gray-100 shadow w-44 border-2 border-black dark:bg-gray-700"
                >
                  <ul
                    class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdown-button"
                  >
                    <li>
                      <button
                        type="button"
                        class="inline-flex w-full px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        Categorie 1
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="inline-flex w-full px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        Categorie 2
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="inline-flex w-full px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        Categorie 3
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="inline-flex w-full px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                      >
                        Categorie 4
                      </button>
                    </li>
                  </ul>
                </div>
  
                <div class="relative w-full">
                  <input
                    type="search"
                    id="search-dropdown"
                    class="block p-2.5 w-full z-20 text-sm text-gray-500 bg-white border-2 border-black border-l-0 border-r-gray-200 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="Search..."
                    required
                  />
  
                  <button
                    type="submit"
                    class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-black bg-white border-2 border-black border-l-0 hover:bg-gray-300 dark:bg-blue-600 dark:hover:bg-blue-700"
                  >
                    <img src="src/assets/picto/img__pictoLoup--black_1x.webp" />
                    <span class="sr-only">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- News -->
  <div class="col-start-2 col-end-3 row-start-3 row-end-4 flex-1 max-w-[80vw] max-h-[60vh] justify-self-center w-full items-center max-md:max-w-full max-md:py-10">
    <div class="flex flex-col items-center">
      <div class="border-black bg-white w-[80vw] max-w-full max-h-[80vh] border-2 border-solid max-md:my-10">
        <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
          <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
            <div class="flex-col overflow-hidden relative flex min-h-[60vh] grow px-5 max-md:max-w-full">
              <img
                loading="lazy"
                srcset=""
                class="absolute z-[-1] h-full w-full object-cover object-center inset-0"/>
              <img
                loading="lazy"
                src=""
                class="aspect-[0] object-contain object-center w-1 stroke-[2px] stroke-neutral-900 overflow-hidden max-w-full -mr-5"/>
            </div>
          </div>
        <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0">
            <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-8">
              <div class="text-neutral-900 text-2xl leading-7 whitespace-nowrap mr-14 self-end max-md:mr-2.5">
                2023-10-19
              </div>
              <img
                loading="lazy"
                src=""
                class="aspect-[211] object-contain object-center w-full stroke-[2px] stroke-neutral-900 overflow-hidden mt-7 max-md:max-w-full"/>
              <div class="flex flex-col items-center mt-20 px-20 max-md:max-w-full max-md:mt-10 max-md:px-5">
                <div class="text-neutral-900 text-justify text-7xl font-medium leading-[115px] whitespace-nowrap max-md:max-w-full max-md:text-4xl max-md:leading-[71px]">
                  Article title
                </div>
                <div class="text-neutral-900 text-justify text-2xl font-light leading-[2rem] max-w-[80vw] mt-36 max-md:max-w-full max-md:mt-10">
                  Lorem ipsum dolor sit amet consectetur. Sit facilisis aliquam
                  nullam rutrum justo. Viverra velit.
                </div>
              </div>
              <img
                loading="lazy"
                src=""
                class="aspect-[211] object-contain object-center w-full stroke-[2px] stroke-neutral-900 overflow-hidden mt-36 max-md:max-w-full max-md:mt-10"/>
              <div class="self-center flex w-[80vw] max-w-full items-stretch justify-between gap-5 mt-12 max-md:flex-wrap max-md:justify-center max-md:mt-10">
                <div class="self-center flex items-center gap-3.5 my-auto">
                  <div class="text-neutral-900 text-2xl leading-7 my-auto">
                    1000
                  </div>
                  <img
                    loading="lazy"
                    src=""
                    class="aspect-[0.88] object-contain object-center w-9 overflow-hidden shrink-0 max-w-full"/>
                </div>
                <div class="flex items-center justify-between gap-3">
                  <div class="text-neutral-900 text-2xl leading-7 my-auto">
                    500
                  </div>
                  <img
                    loading="lazy"
                    src=""
                    class="aspect-[0.89] object-contain object-center w-[42px] overflow-hidden shrink-0 max-w-full"/>
                </div>
                <img
                  loading="lazy"
                  src=""
                  class="aspect-[1.02] object-contain object-center w-[42px] overflow-hidden self-center shrink-0 max-w-full my-auto"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Article -->
  <div class="col-start-2 col-end-3 row-start-4 row-end-5 flex-1 max-w-[60vw] max-h-[60vh] justify-self-center w-full items-center align-middle max-md:max-w-full max-md:py-10">
    <div class="flex flex-col items-center py-12">
      <div
        class="border-[color:var(--PureBlack900,#121212)] bg-white flex w-[60vw] max-w-full max-h-[60vh] items-center border-2 border-solid max-md:flex-wrap max-md:justify-center max-md:my-10"
      >
        <img
          loading="lazy"
          srcset=""
          class="aspect-[0.75] object-contain object-center w-full overflow-hidden grow basis-[0%] max-md:max-w-full max-md:-mr-px"
        />
        <img
          loading="lazy"
          src=""
          class="aspect-[0] object-contain object-center w-0.5 stroke-[2px] stroke-neutral-900 overflow-hidden shrink-0 max-w-full"
        />
        <div class="flex grow basis-[0%] flex-col my-auto max-md:max-w-full">
          <div
            class="text-neutral-900 text-base leading-5 whitespace-nowrap mr-9 self-end max-md:mr-2.5"
          >
            2023-10-19
          </div>
          <img
            loading="lazy"
            src=""
            class="aspect-[211.5] object-contain object-center w-full stroke-[2px] stroke-neutral-900 overflow-hidden mt-4 max-md:max-w-full"
          />
          <div
            class="flex flex-col items-stretch mt-24 px-16 max-md:max-w-full max-md:mt-10 max-md:px-5"
          >
            <div
              class="text-neutral-900 text-justify text-5xl font-medium leading-[77px] whitespace-nowrap max-md:text-2xl max-md:leading-[12rem]">
              Article title
            </div>
            <div
              class="text-neutral-900 text-justify text-xl font-light leading-8 mt-20 max-md:mt-5"
            >
              Lorem ipsum dolor sit amet consectetur. Sit facilisis aliquam nullam
              rutrum justo. Viverra velit.
            </div>
          </div>
          <img
            loading="lazy"
            src=""
            class="aspect-[211.5] object-contain object-center w-full stroke-[2px] stroke-neutral-900 overflow-hidden max-md:max-w-full max-md:mt-10"
          />
          <div
            class="self-center flex w-[355px] max-w-full items-stretch justify-between gap-5 mt-7"
          >
            <div
              class="flex items-start justify-between gap-2 max-md:justify-center"
            >
              <div
                class="text-neutral-900 text-base leading-5 self-center my-auto"
              >
                1000
              </div>
              <img
                loading="lazy"
                src=""
                class="aspect-square object-contain object-center w-6 overflow-hidden self-center shrink-0 max-w-full my-auto"
              />
              <div
                class="text-neutral-900 text-base leading-5 self-center my-auto"
              >
                500
              </div>
              <img
                loading="lazy"
                src=""
                class="aspect-square object-contain object-center w-7 overflow-hidden shrink-0 max-w-full"
              />
            </div>
            <img
              loading="lazy"
              src=""
              class="aspect-square object-contain object-center w-6 overflow-hidden self-center shrink-0 max-w-full my-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- More button -->
  <div class="col-start-2 col-end-3 row-start-5 row-end-6 flex-1 justify-self-center max-w-[20vw] max-h-[5vh] w-full items-center max-md:max-w-full max-md:py-10">
    <div class="flex flex-col w-42 items-center px-5">
      <button
        type="button"
        class="focus:outline-none text-white bg-orange-500 shadow-sm hover:bg-red-800 font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700">
        More articles
      </button>
    </div>
  </div>

  <!-- Newsletter -->
  <div class="col-start-2 col-end-3 row-start-6 row-end-7 flex-1 max-w-[60vw] max-h-[60vh] justify-self-center border border-[color:var(--PureBlack900,#121212)] bg-orange-500 border-solid w-full items-center max-md:max-w-full max-md:py-10">
    <div class="flex flex-col items-center px-5">
      <div class="flex w-[60vw] max-w-full flex-col items-center mt-2 mb-52 px-5 py-12 max-md:my-10">
        <div class="flex w-[60vw] max-w-full items-stretch gap-3.5 mt-20 mb-10 max-md:flex-wrap max-md:mt-10">
          <div class="flex grow basis-[0%] flex-col max-md:max-w-full">
            <div class="text-white text-3xl leading-9 self-stretch whitespace-nowrap max-md:max-w-full">
              NewsLetter
            </div>
            <div class="text-white text-7xl font-bold leading-[12rem] self-stretch mt-7 max-md:max-w-full max-md:text-4xl max-md:leading-[12rem]">
              Stay alert!
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="email"
                name="floating_email"
                id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-white dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer"
                placeholder=" "
                required
              />
              <label
                for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-white dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Email</label
              >
            </div>
            <div
              class="flex w-[484px] max-w-full items-stretch justify-between gap-5 mt-12 self-end max-md:flex-wrap max-md:mt-10"
            >
              <div
                class="text-white text-base leading-5 self-center grow whitespace-nowrap my-auto"
              >
                500
              </div>
            </div>
          </div>
          <img
            loading="lazy"
            src=""
            class="aspect-square object-contain object-center w-[21px] overflow-hidden shrink-0 max-w-full mt-80 self-end max-md:mt-10"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="col-start-2 col-end-3 row-start-7 row-end-8 flex-1 max-w-[60vw] max-h-[60vh] justify-self-center w-full items-center max-md:max-w-full max-md:py-10">
    <form class="max-w-md mx-auto">
      <div class="relative z-0 w-full mb-5 group">
        <label class="">
          <h2>A question?</h2>
        </label>
        <input
          type="email"
          name="floating_email"
          id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-orange-500 focus:outline-none focus:ring-0 focus:border-orange-600 peer"
          placeholder=" "
          required/>
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-focus:dark:text-orange-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email</label>
      </div>
  
      <div class="">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="text"
            name="floating_first_name"
            id="floating_first_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-orange-500 focus:outline-none focus:ring-0 focus:border-orange-500 peer"
            placeholder=" "
            required/>
          <label
            for="floating_first_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-orange-600 peer-focus:dark:text-orange-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >First name</label>
        </div>
  
        <div class="">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Message</label>
          <textarea
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 focus:ring-orange-500 focus:border-orange-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500"
            placeholder="Your message here..."></textarea>
        </div>
      </div>
      <button
        type="submit"
        class="justify-self-center items-center text-white bg-orange-500 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
        Submit
      </button>
    </form>

    <br />
    <!-- HttpClient Service -->
  </div>

  <!-- Footer -->
  <div class="col-start-1 col-end-4 row-start-8 row-end-9 flex-1 max-w-[100vw] max-h-[20vh] justify-self-center bg-black border-solid w-full items-center max-md:max-w-full max-md:py-10">
    <div class="bg-neutral-900 flex flex-col items-center px-5">
      <div
        class="flex w-[546px] max-w-full flex-col items-stretch mt-11 mb-8 max-md:mt-10"
      >
        <div
          class="flex items-stretch justify-between gap-4 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
        >
          <div class="text-white text-base leading-5 underline">
            <a href="#"> Legal notice </a>
          </div>
          <div class="text-white text-base leading-5 underline">
            <a href="#">Cookies</a>
          </div>
          <div class="text-white text-base leading-5 underline">
            <a href="#">Privacy Policy</a>
          </div>
          <div class="text-white text-base leading-5 underline whitespace-nowrap">
            <a href="#">Terms of use</a>
          </div>
        </div>
        <div
          class="text-white text-center text-xs leading-4 self-center w-full mt-16 max-md:mt-10"
        >
          ©2024 All right reserved - Powered with Wyx
        </div>
      </div>
    </div>
  </div>
</div>
